[Unit]
Description=Minecraft Server
Wants=network.target
After=network.target

[Service]
Type=forking
User=pi
Group=pi

PrivateDevices=no
NoNewPrivileges=yes
ReadWritePaths=__SOCKET__
WorkingDirectory=__SOCKET__
ExecStart=__SOCKET__mc %i start
ExecReload=__SOCKET__mc %i restart
ExecStop=__SOCKET__mc %i stop
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
